differences/
build/**/*
Calibration/
cell_tiffer-builder/
cell_tiffer-builder/**/*
check/
DLLs-4.7.4/**/*
DLLs-4.8.1/**/*
Docs/
Docs/**/*
execution/
execution/**/*
Experiments/
Experiments/**/*
Gene/
gfortran/
Linux/
Papers
Papers/
Papers/**/*
spheroid_GUI-build/**/*
test-vs8/**/*
test-vs10/**/*
ToDo/
/GUI/spheroid_GUI.pro.user
/GUI/spheroid_GUI.pro
/Cell_tiffer/cell_tiffer.pro
/Cell_tiffer/cell_tiffer.pro.user
/backup-14-08-15
/backup-14-08-15/spheroid.f90
/backup-14-08-15/version.h
/backup-14-08-15/cellstate.f90
/backup-14-08-15/graphs.cpp
/backup-14-08-15/ode_diffuse.f90
/GUI/mainwindow-backup-14-08-15.cpp
/GUI/params-backup-14-08-15.cpp
/GUI/params-backup-19-08-15.cpp
/GUI/spheroid_GUI-backup-12-08-15.ui
/src/ode_diffuse-28-07-2015.f90
/src/spheroid-28-07-2015.f90
