build/*
build/Release/
Calibration/**
cell_tiffer-builder/**
check/
DLLs-4.7.4/**
DLLs-4.8.1/**
Docs/**
execution/**
Gene/
gfortran/
Linux/
Papers/**
spheroid_GUI-build/**
test-vs8/**
test-vs10/**
ToDo/
