build/**/*
Calibration/
cell_tiffer-builder/
cell_tiffer-builder/**/*
check/
DLLs-4.7.4/**/*
DLLs-4.8.1/**/*
Docs/
Docs/**/*
execution/
execution/**/*
Experiments/
Experiments/**/*
Gene/
gfortran/
Linux/
Papers
Papers/
Papers/**/*
spheroid_GUI-build/**/*
test-vs8/**/*
test-vs10/**/*
ToDo/
/GUI/spheroid_GUI.pro.user
/GUI/spheroid_GUI.pro
/Cell_tiffer/cell_tiffer.pro
/Cell_tiffer/cell_tiffer.pro.user
